/* Color pallete */
:root {
--color-1: #BDB5D5; /* Wisteria */
--color-2: #8E88A0; /* Dark Wisteria */
--color-3: #F9F6EE; /* Bone White */
--color-4: #EADDCA; /* Almond */
--color-5: #B9976E; /* Camel */
--color-6: #6F4E37; /* Coffee */
}