/* Color pallete */
:root {
--color-1: #BDB5D5; /* Wisteria */
--color-2: #F9F6EE; /* Bone White */
--color-3: #EADDCA; /* Almond */
--color-4: #C19A6B; /* Camel */
--color-5: #80461B; /* Russet */
--color-6: #6F4E37; /* Coffee */
}