/* Color pallete */
:root {
--color-1: #BDB5D5; /* Wisteria - accent */
--color-2: #8E88A0; /* Dark Wisteria - accent and links */
--color-3: #F9F6EE; /* Bone White - main background */
--color-4: #EADDCA; /* Almond - block background */
--color-5: #B9976E; /* Camel - accent */
--color-6: #6F4E37; /* Coffee - font */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: var(--color-6);
    background-color: var(--color-3);
}

a {
    color: var(--color-2);
    text-decoration: none;
}

h1 {
    color: var(--color-1);
    font-size: 9rem;
    font-family: 'WindSong', serif;
    opacity: 0.35;
}

h2, h3, h5 {
    color: var(--color-2);
    font-family: 'Merienda', serif;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    color: var(--color-5);
}

/* HEADER START */

header {
    top: 0;
    left: 2rem;
    position: absolute;
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: left;
}

nav ul {
    display: inline-flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Merienda', serif;
}

nav a {
    color: var(--color-5);
}

#header-name {
    font-size: 3rem;
    font-family: 'WindSong', serif;
}

#header-socials {
    font-size: 1.3rem;
}

#header-links {
    width: 82%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    width: 100%;
    height: 0 auto;
    margin: 0 auto;
}

/* SPLASH START */

#splash {
    top: 12rem;
    position: relative;
    display: none; /* Switch to flex to unhide */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    padding: 0 2rem;
}

#splash img {
    width: 30rem;
    height: 32rem;
    object-fit: cover;
    border: 2px solid var(--color-5);
    border-radius: 20%;
}

#splash-name {
    padding-top: 5rem;
}

#splash-name h2 {
    position: relative;
    top: -7.5rem;
    letter-spacing: .2rem;
}

#gradient-border {
    margin: 0 -4rem;
    padding: 2px 4rem;
    background-image: linear-gradient(to left, rgba(185, 151, 110, 0), rgba(185, 151, 110, 1));
    z-index: -2;
}
#splash-info {
    margin: 0 -4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 7rem;
    background-image: linear-gradient(to left, rgba(234, 221, 202, 0), rgba(234, 221, 202, 1));
    z-index: -1;
}

#splash-links ul {
    position: relative;
    top: -5rem;
    display: inline-flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* ABOUT ME START */

#about-me {
    margin-top: 5rem;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding: 0 2rem;
}

#about-me img {
    width: 25rem;
    height: 30rem;
    object-fit: cover;
    border: 2px solid var(--color-5);
    border-radius: 20%;
}

#about-me-info {
    margin: 0 -10rem;
    display: flex;
    align-items: justify;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--color-4);
    border-radius: 20%;
    border: 2px solid var(--color-5);
}

#about-me-info p,
#about-me-info h1 {
    padding: .5rem 0;
}

#about-me h1 {
    text-align: center;
}
